#column-menu, .address {
color : #ddd;
}

.logo span {
color : #fff;
}

#column-menu .search-module .search {
background : transparent url(../images/white-10.png) 0 0 repeat !important;
border-color :#444 !important;
}

#column-menu .search-module .inputbox {
color:#ccc;
}

#column-menu .search-module .inputbox:hover, #column-menu .search-module .inputbox:focus  {
color : #eee;
}

#column-menu .search-module h3 {
color:#ddd;
}

/**
**			MAIN MENU
**/

.drop-down li {
border-color :#444;
}

.drop-down li:first-child {
border-color :#444;
}

.drop-down li ul {
-moz-box-shadow: 1px 1px 6px #aaa;
-webkit-box-shadow: 1px 1px 6px #aaa;
box-shadow: 1px 1px 6px #aaa;
}

.drop-down li a, .drop-down li span.separator {
color:#fff;
}

.drop-down li li a, .drop-down li li span.separator {
color:#fff;
}

.drop-down li.parent a::after , .drop-down li.parent span::after {
color:#777;
}

.drop-down li.parent li.parent a::after , .drop-down li.parent li.parent span::after,
.drop-down li.parent li.parent li.parent a::after , .drop-down li.parent li.parent li.parent span::after {
color:#777;
}

.drop-down li.parent:hover a::after , .drop-down li.parent:hover span::after,
.drop-down li.parent li.parent:hover a::after , .drop-down li.parent li.parent:hover span::after,
.drop-down li.parent li.parent li.parent:hover a::after , .drop-down li.parent li.parent li.parent:hover span::after {
color:#ddd;
}

.drop-down li.active a::after , .drop-down li.active span::after, .drop-down li.active:hover a::after , .drop-down li.active:hover span::after {
color : #bbb ;
}

.drop-down li:hover > a, .drop-down li:hover > span, .drop-down li.active > a, .drop-down li.active > span {
color: #fff ;
background : transparent url(../images/white-16.png) 0 0 repeat;
-moz-box-shadow : -1px 1px 2px 0px rgba(0,0,0, 0.20) inset ;
-webkit-box-shadow : -1px 1px 2px 0px rgba(0,0,0, 0.20) inset ;
box-shadow : -1px 1px 2px 0px rgba(0,0,0, 0.20) inset ;
}

.drop-down li li:hover > a, .drop-down li li:hover > span, .drop-down li li.active > a, .drop-down li li.active > span {
color: #fff ;
}